# Plot S4 vs time in function of: frequency and constelation

In [5]:
import pandas as pd
import numpy as np
import datetime 
import matplotlib.pyplot as plt

## 1) Import scintilacion files (.s4)

In [6]:
directorio = "/home/luis/Desktop/Proyects_Files/LISN/GPSs/Tareas/Graficas_cintilaciones/Input_data/Data_set/"
df1 = pd.read_csv(directorio + "ljic_200926.s4", header=None, sep="\t")
df1.head(3)

/home/luis/anaconda3/envs/tutorial_pandas/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (7,8,13,14,15,16,31,32,37,38,103,104,109,110,111,112,113,127,128,129,130,134,135,138,139,153,154,160,162,163,164,199,200,205,206,207,208,223,224,229,230,247,248,253,254,255,256,271,272,277,278,295,296,297,298,301,302,303,304,306,307,369,370,378,379,415,416,421,422,423,463,464,469,470,471,472,473,511,512,517,518,519,520,521,544,545,583,584,589,590,591,592,593,607,608,613,614,615,616,631,632,637,638,655,656,661,662,663,664,665,679,680,683,684,685,686,695,696,697,703,704,707,708,709,710,711,712,719,720,721,722,731,732,743,744,745,751,752,755,756,757,758,767,768,806,807,808,809,817,818,819,820,825,826,834,835,836,837,838,844,849,850,858,859,860,861,862,868,871,872,873,874,877,878,879,880,881,882,883,884,885,886,891,892,897,898,906,907,908,909,910) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,0,1,2,3,4,5,6,7,8,9,...,906,907,908,909,910,911,912,913,914,915
0,20,270,60,35,G10,99.0,72.0,0.023,0.025,0.042,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20,270,120,35,G10,101.0,72.0,0.022,0.024,0.036,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20,270,180,35,G10,102.0,72.0,0.023,0.025,0.035,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1439 entries, 0 to 1438
Columns: 916 entries, 0 to 915
dtypes: float64(161), int64(4), object(751)
memory usage: 10.1+ MB

## 2. Process that dataframe

In [8]:
# Eliminacion de ciertas columnas
for i in df1.columns:
    if i>3:
        m = (i-4)%24
        if m == 1: del df1[i]
        elif m == 2: del df1[i]
        elif m >= 9: del df1[i]

#df1.head()
df1.head()

,0,1,2,3,4,7,8,9,10,11,...,874,875,876,892,895,896,897,898,899,900
0,20,270,60,35,G10,0.023,0.025,0.042,0.036,0.023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20,270,120,35,G10,0.022,0.024,0.036,0.035,0.022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20,270,180,35,G10,0.023,0.025,0.035,0.036,0.024,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20,270,240,35,G10,0.023,0.025,0.042,0.037,0.025,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20,270,300,35,G10,0.020,0.024,0.036,0.037,0.029,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1439 entries, 0 to 1438
Columns: 270 entries, 0 to 900
dtypes: float64(28), int64(4), object(238)
memory usage: 3.0+ MB

In [10]:
df1.columns = np.arange(len(df1.columns)) # Rename the columns 
df1.head(2)

,0,1,2,3,4,5,6,7,8,9,...,260,261,262,263,264,265,266,267,268,269
0,20,270,60,35,G10,0.023,0.025,0.042,0.036,0.023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20,270,120,35,G10,0.022,0.024,0.036,0.035,0.022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# Creacion de un nuevo dataframe
df2 = pd.DataFrame(columns=range(10))

# Se llenan el resto de valores
T = 7 # Period of dataset
for i in range(len(df1)):
    for h in range(df1.iloc[i,3]): # that cell contains the number of measurements 
        m = df1.iloc[i,[0,1,2,4+T*h,5+T*h,6+T*h,7+T*h,8+T*h,9+T*h,10+T*h]]
        m.index = range(len(m))
        df2 = df2.append(m)

df2.index = range(len(df2))
df2.head()

KeyboardInterrupt:

In [ ]:
df2.info()

In [ ]:
# Change type object to double 
for i in range(3):
    df2[i] = df2[i].astype("int")

In [ ]:
df2.info()

In [ ]:
# Change data type to str
for i in range(6):
    df2[4+i] = df2[4+i].astype("str").str.strip().astype("float")
df2.head()

In [ ]:
df2.info()

In [ ]:
# Rename columns 
df2.columns = ["YY", "DOY", "SOD", "PRN", "S4_sig1", "S4_sig1_corr", "S4_sig2", "S4_sig2_corr", "S4_sig3", "S4_sig3_corr"]
df2.head()

In [ ]:
a=df2.iloc[1,8]
print(a)
type(a)
pd.isnull(a)

In [ ]:
# Calculate the corrected S4
def get_correctedS4(row):
    s4 = row[0]
    correction= row[1]
    
    # Treat nan numbers 
    if pd.isnull(s4) or pd.isnull(correction):
        return np.nan
    else:
        # Calculate the corrected S4
        x = s4**2-correction**2
        if x>0:
            return x**0.5
        else:
            return 0    

for i in range(3):        
    df2[f"S4_sig{i+1}"] = df2[[f"S4_sig{i+1}",f"S4_sig{i+1}_corr"]].apply(get_correctedS4, axis=1)
df2.head()

In [ ]:
# Delete some columns
del df2["S4_sig1_corr"]
del df2["S4_sig2_corr"]
del df2["S4_sig3_corr"]
df2.head()

In [ ]:
# Sort values by "PRN" and "SOD" 
df2 = df2.sort_values(["PRN","SOD"])

# Reindex in ascendent order 
df2.index = range(len(df2))

df2

In [ ]:
# Convert to datetime data type 
def change2datetime(row):
    yy = int(row[0])
    doy = int(row[1])
    sod = int(row[2])
    
    if sod < 0: 
        doy = doy -1
        sod = 60*60*24+sod      
    
    cdate = str(yy)+"-"+str(doy)+"-"+str(datetime.timedelta(seconds=sod))
    fecha = datetime.datetime.strptime(cdate, "%y-%j-%X")
    
    return fecha  

# Convert and assign
m = df2.apply(change2datetime, axis=1)

# Create the new column
df2.insert(0,column="DateTime",value=0)
df2["DateTime"] = m

# Delete some columns 
del df2["YY"]
del df2["DOY"]
del df2["SOD"]

df2

In [ ]:
df2.info()

In [ ]:
df2.set_index("DateTime", inplace=True)
df2.head()

Congratulations! The dataframe is ready to plot (y)

## 3. Plot for each frequency and constellation

In [ ]:
# Identify the available PRNs
prns = df2["PRN"].str[0].unique() # extract the first character of each cell 
prns

In [ ]:
# Get current UTC date
fecha = datetime.datetime.utcnow()
fecha = fecha.strftime("%Y/%m/%d")
fecha

In [ ]:
# Get the name for a given PRN code
def get_prn_name(prn_code):
    if prn_code == 'G': return 'GPS'
    elif prn_code == 'R': return 'GLONASS'
    elif prn_code == 'E': return 'GALILEO'
    elif prn_code == 'S': return 'SBAS'
    elif prn_code == 'C': return 'BEIDOU'
    elif prn_code == 'J': return 'QZSS'
    elif prn_code == 'I': return 'IRNSS'
    else:
        return 'Incorrect PRN code!'

In [ ]:
a = get_prn_name('E')
print(f"El satelite es {a}")

In [ ]:
def get_sig_name(prn, sig):
    if sig == 1:
        if prn == 'G' or prn == 'R' or prn == 'S' or prn == 'J':
            return 'L1CA'
        elif prn == 'E':
            return 'L1BC'
        elif prn == 'C':
            return 'B1'
        elif prn == 'I':
            return 'L5'
        else: 
            return "Insert a right code!"
    elif sig == 2:
        if prn == 'G' or prn == 'R' or prn == 'J':
            return 'L2C'
        elif prn == 'E':
            return 'E5a'
        elif prn == 'C':
            return 'B2'
        elif prn == 'S':
            return 'L5'
        else: 
            return "Insert a right code!"
    elif sig == 3:
        if prn == 'G' or prn == 'J':
            return 'L5'
        elif prn == 'E':
            return 'E5b'
        elif prn == 'C':
            return 'B3'
        else: 
            return "Insert a right code!"
    else:
        "Insert a right code!"

In [ ]:
get_sig_name('R',2)

In [ ]:
# Filter PRN values
for prn in prns:
    mask = df2["PRN"].str.contains(prn)
    df3 = df2[mask]
    
    # Plot for each PRN
    fig,ax = plt.subplots(3, figsize=(10,12))
    freq = ['L1', 'L2', 'L5']
    for i in range(len(ax)):
        sig = i+1 # frequency 
        
        df3.groupby("PRN")["S4_sig"+str(sig)].plot(ax=ax[i], style='o-')

        if i==0:
            ax[i].set_title("Jicamarca", fontsize=20, fontweight='bold')
            ax[i].set_title(fecha, loc="left", fontsize=14, style='normal', name='Ubuntu')

        #ax[i].set_title(freq[i] + f" | {get_name_prn(prn)}", loc="right", fontsize=14, name = 'Ubuntu')
        ax[i].set_title(get_sig_name(prn, sig) + f" | {get_prn_name(prn)}", loc="right", fontsize=14, name = 'Ubuntu')
        ax[i].set_ylabel("S4", fontsize=14, weight='bold', color='gray')
        if i == 2:
            ax[i].set_xlabel("Time UTC", fontsize=14, weight='bold', color='gray')
        else:
            ax[i].set_xlabel("", fontsize=14, weight='bold', color='gray')    

        # Rectangle frame width 
        for axis in ['top','bottom','left','right']:
            ax[i].spines[axis].set_linewidth(1.5)

        # Ticks format 
        ax[i].xaxis.set_tick_params(width=2, length=8, which='both', direction='out')
        ax[i].yaxis.set_tick_params(width=2, length=15, direction='inout')
        ax[i].tick_params(axis='x', which='both', labelsize=12)
        ax[i].tick_params(axis='y', labelsize=12)

        # Grid and legend 
        ax[i].grid(which='both', axis='both', ls=':')
        if i == 2:
            leg = ax[i].legend(loc='upper center', fancybox=True, shadow=True, bbox_to_anchor=(0.5, -0.3), ncol=8, facecolor='whitesmoke')

    plt.subplots_adjust(hspace=0.3)
    plt.savefig(f"s4_{get_prn_name(prn)}.pdf", bbox_inches='tight')

## Create and move files

In [ ]:
import glob
import os 

root_path = "/home/luis/Desktop/Proyects_Files/LISN/GPSs/Tareas/Graficas_cintilaciones/"
input_files_path = root_path + "Input_data/Data_set/"
input_files_path_op = root_path + "Input_data/Data_procesada/"
output_files_path = root_path + "Output_data/"

file_s4 = "ljic_200806.s4"
directory = file_s4[:-3]
directory = output_files_path + directory

lista = glob.glob(input_files_path+"*.s4")
if len(lista)>0:
    for archivo in lista:
        file_name = archivo[len(input_files_path):]
        
        if not os.path.exists(directory):
            os.makedirs(directory)

        os.rename(archivo, input_files_path_op+file_name)

In [ ]:
# Filter PRN values which begins with "G" letter
mask = df2["PRN"].str.contains("G")
df3 = df2[mask]

In [ ]:
# Plot by group 
plt.figure(figsize=(20,10))
df3.groupby("PRN")["S4_sig1"].plot(legend=True, title = "S4")

In [ ]:
df3.head()

In [ ]:
df3.set_index("DateTime", inplace=True)
df3.head()

In [ ]:
# Plot by group 
fig,ax = plt.subplots(figsize=(10,4))
#df3.groupby("PRN")["S4_sig3"].plot(ax=ax, style='o-')
df3.groupby("PRN")["S4_sig1"].plot(style='o-')
ax = plt.gca() # We need to get an explicit reference to the current Axes 
ax.set_title("Jicamarca", fontsize=20, fontweight='bold')
ax.set_title("2020/11/18", loc="left", fontsize=14, style='normal', name='Ubuntu')#color='darkblue')
ax.set_title("Scintillation Index | L1 | GPS", loc="right", fontsize=14, name = 'Ubuntu') #color='darkblue')
ax.set_xlabel("Time UTC", fontsize=14, weight='bold', color='gray')
ax.set_ylabel("S4", fontsize=14, weight='bold', color='gray')
#ax.set_facecolor('whitesmoke')

for axis in ['top','bottom','left','right']:
    ax.spines[axis].set_linewidth(2)
    #ax.spines[axis].set_color("gold")
    #ax.spines[axis].set_zorder(0)

ax.xaxis.set_tick_params(width=2, length=8, which='both', direction='out')
ax.yaxis.set_tick_params(width=2, length=15, direction='inout')
#plt.yticks(fontsize=12)
#plt.xticks(fontsize=12, )
ax.tick_params(axis='x', which='both', labelsize=12)
ax.tick_params(axis='y', labelsize=12)

ax.grid(which='both', axis='both', ls=':')
leg = ax.legend(loc='upper center', fancybox=True, shadow=True, bbox_to_anchor=(0.5, -0.2), ncol=8, facecolor='whitesmoke')

plt.savefig("s4_gps_l1.pdf", bbox_inches='tight')

In [ ]:
fig,ax = plt.subplots(3, figsize=(10,12))
freq = ['L1', 'L2', 'L5']
for i in range(len(ax)):
    df3.groupby("PRN")["S4_sig"+str(i+1)].plot(ax=ax[i], style='o-')
    
    if i==0:
        ax[i].set_title("Jicamarca", fontsize=20, fontweight='bold')
        ax[i].set_title("2020/11/18", loc="left", fontsize=14, style='normal', name='Ubuntu')#color='darkblue')
    
    ax[i].set_title(freq[i] + " | GPS", loc="right", fontsize=14, name = 'Ubuntu') #color='darkblue')
    ax[i].set_ylabel("S4", fontsize=14, weight='bold', color='gray')
    if i == 2:
        ax[i].set_xlabel("Time UTC", fontsize=14, weight='bold', color='gray')
    else:
        ax[i].set_xlabel("", fontsize=14, weight='bold', color='gray')    
    
    # Rectangle frame width 
    for axis in ['top','bottom','left','right']:
        ax[i].spines[axis].set_linewidth(1.5)
    
    # Ticks format 
    ax[i].xaxis.set_tick_params(width=2, length=8, which='both', direction='out')
    ax[i].yaxis.set_tick_params(width=2, length=15, direction='inout')
    ax[i].tick_params(axis='x', which='both', labelsize=12)
    ax[i].tick_params(axis='y', labelsize=12)
    
    # Grid and legend 
    ax[i].grid(which='both', axis='both', ls=':')
    if i == 2:
        leg = ax[i].legend(loc='upper center', fancybox=True, shadow=True, bbox_to_anchor=(0.5, -0.3), ncol=8, facecolor='whitesmoke')

plt.subplots_adjust(hspace=0.3)
plt.savefig("s4_gps.pdf", bbox_inches='tight')

In [ ]:
# Plot for sig1, sig2 y sig3
fig,ax = plt.subplots(figsize=(10,4))
#df3.groupby("PRN")["S4_sig3"].plot(ax=ax, style='o-')
df3.groupby("PRN")["S4_sig1"].plot(style='o-')
ax = plt.gca() # We need to get an explicit reference to the current Axes 
ax.set_title("Jicamarca", fontsize=20, fontweight='bold')
ax.set_title("2020/11/18", loc="left", fontsize=14, style='normal', name='Ubuntu')#color='darkblue')
ax.set_title("Scintillation Index | L1 | GPS", loc="right", fontsize=14, name = 'Ubuntu') #color='darkblue')
ax.set_xlabel("Time UTC", fontsize=14, weight='bold', color='gray')
ax.set_ylabel("S4", fontsize=14, weight='bold', color='gray')
#ax.set_facecolor('whitesmoke')

# Rectangle frame width 
for axis in ['top','bottom','left','right']:
    ax.spines[axis].set_linewidth(1.5)
    #ax.spines[axis].set_color("gold")
    ax.spines[axis].set_zorder(0)

ax.xaxis.set_tick_params(width=2, length=8, which='both', direction='out')
ax.yaxis.set_tick_params(width=2, length=15, direction='inout')
#plt.yticks(fontsize=12)
#plt.xticks(fontsize=12, )
ax.tick_params(axis='x', which='both', labelsize=12)
ax.tick_params(axis='y', labelsize=12)

ax.grid(which='both', axis='both', ls=':')
leg = ax.legend(loc='upper center', fancybox=True, shadow=True, bbox_to_anchor=(0.5, -0.2), ncol=8, facecolor='whitesmoke')
for t in leg.texts:
    t.set_multialignment('center')

plt.savefig("s4_gps_l1.pdf", bbox_inches='tight')

Look the different fonts for the text

In [ ]:
import matplotlib.font_manager
from IPython.core.display import HTML

def make_html(fontname):
    return "<p>{font}: <span style='font-family:{font}; font-size: 24px;'>{font}</p>".format(font=fontname)

code = "\n".join([make_html(font) for font in sorted(set([f.name for f in matplotlib.font_manager.fontManager.ttflist]))])

HTML("<div style='column-count: 2;'>{}</div>".format(code))

In [ ]:
import

In [ ]:
#%pylab qt
%matplotlib inline

In [ ]:
fig = plt.figure()

In [ ]:
ax1 = fig.add_subplot(2,2,1)
ax2 = fig.add_subplot(2,2,2)
ax3 = fig.add_subplot(2,2,3)

In [ ]:
ax2.plot(np.random.randn(50).cumsum(), 'k--')
plt.show()

In [ ]:
ax1.scatter(np.arange(30), np.arange(30) + 3 * np.random.randn(30))

In [ ]:
ax3.hist(np.random.randn(100), bins=20, color='k', alpha=0.3)

In [ ]:
fig, axes = plt.subplots(2,3)

In [ ]:
axes

In [ ]:
fig, axes = plt.subplots(2, 2, sharex=True, sharey=True)
for i in range(2):
    for j in range(2):
        axes[i, j].hist(randn(500), bins=50, color='k', alpha=0.5)
plt.subplots_adjust(wspace=0.8, hspace=0.5)

In [ ]:
fig,ax = plt.subplots()
ax.plot(randn(1000).cumsum(), label="Lima")
ax.plot(randn(1000).cumsum(), label="Hyo")
ax.plot(randn(1000).cumsum(), label="Iquitos")
ax.set_xticks([0, 250, 500, 750, 1000])
ax.set_xticklabels([0,6,12,18,24])
ax.xaxis.set_ticks_position('both')
#ax.set_yticklabels(["helado", "frio", "templado", "caliente", "horno"])
ax.set_xlabel("Time(h)")
ax.set_ylabel("Temperature")
ax.set_title("Weather forecast")
ax.text(18, 10, 'Hello world!',family='monospace', fontsize=10)
ax.legend(loc='best')

In [ ]:
a="hola_como estas"
b=a.replace("estas","te va")

In [ ]:
b

In [ ]:
# Plot by group 
plt.figure(figsize=(20,10))
df2.groupby("PRN")["S4_sig1"].plot(legend=True, title = "S4")